<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Vue.js interface</title>
	</head>
	<body>

		<!-- tuto : https://www.youtube.com/watch?v=D3oivlcoEvw&t=180s -->

		<div id="app">
      <div class="container">
        <div class="row">
          <!-- rendu déclaratif {{ }} -->
          <P class="jumbotron"> 
          <!-- Data-binding => directives -->
            <!-- directive v-model -->
            Login : <input type="text" name="" id="" v-model="user">
            Vous êtes connecté en tant que {{ user }} 
          </P>
      </div>
      <!-- <h3 class="display-6">Produits disponibles</h3> -->
      <!-- directive conditionnelle v-if -->
      <h3 v-bind:class="affichage" v-if="commandes.length > 0">Produits commandés</h3>
      <div class="row">
        <!--
          <ul v-for="commande in commandes">
            <li>{{commande}}</li><br>
          </ul>
        -->
        <fiche-produit v-for="commande in commandes" v-bind:nom="commande" role="recap"></fiche-produit>
      </div>
      <h3 v-bind:class="affichage">Produits disponibles</h3>
      <div class="row">
        <!-- directive v-bind => association de 2 paramètres -->
        <!-- directive v-for -->               
        <!--
          <div class="col-3" v-for="produit in produits">
          {{produit}}<br> -->
          <!-- directive v-on:click -->
          <!-- passer le paramètre --> <!--
            <button v-on:click="commander(produit)">Commander</button>
          </div>
        -->
        <!-- appel du composant fiche produit -->
        <!-- v-on => écouteur d'évènement -->
        <fiche-produit v-for="produit in produits" v-bind:nom="produit" v-on:commande-passee="commander" role="commande"></fiche-produit>
      </div>
      </div>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>
